In [6]:
from pokemon import gym_leaders_g1

This exercise will familiarize you with
- Working with tabular data in pandas

In [2]:
# Import the pokemon database
from pokemon import POKEDEX as px

In [7]:
px.head()

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,3,Gigantamax Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [8]:
px['score'] = px.hp+px.attack+px.defense + px.sp_attack + px.sp_defense + px.speed

In [9]:
px.query('generation == 1').sort_values(by='total',ascending=False).head()

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,score
205,150,Mega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True,780
204,150,Mega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,780
203,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,680
176,130,Mega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,False,640
8,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,634

In [10]:
og1_filt = (~px.name.str.contains("Mega")) & (px.generation==1)
og1 = px[og1_filt]
og1.head()

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,score
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525
4,3,Gigantamax Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525
5,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309

> Exercise: Create 6-tuple pokemon team

In [12]:
# Implement here

In [ ]:
# Implement a search function

In [11]:
# Implement a battle function